# ETL for CSV file

In [ ]:
#install all libraries
!pip install pandas
!pip install sqlalchemy
!pip install numpy
!pip install splinter
!pip install bs4
!pip install ipython-sql

In [1]:
#import all libraries utilizied
import os
import csv
import pandas as pd
import json
from sqlalchemy import create_engine
import numpy as np

## Run SQL in Jupyter notebook

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
DB_ENDPOINT = "localhost"
DB = 'child_care_centers_db'
DB_USER = 'postgres'
DB_PASSWORD = #enter password here
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:postgres@localhost:5432/child_care_centers_db

In [13]:
%sql $conn_string

'Connected: postgres@child_care_centers_db'

## Store CSV into DataFrame

In [5]:
#csv file
file = "x_ca_omcc_providers.csv"

#column names
col_Names=['child_care_provider', 'type_of_child_care', 'address', 'city', 'state', 'zip_code', 'other']

#read csv file 
child_care_providers = pd.read_csv(file, names=col_Names)

#dataframe
child_care_providers

,child_care_provider,type_of_child_care,address,city,state,zip_code,other
0,La Rue Park Child Development Center,Child Care Center,50 Atrium Way,Davis,CA,95616,5307538716
1,Carousel Preschool,Child Care Center,8328 Airport Blvd.,Los Angeles,CA,90045,3102166641
2,Adventure Club - Quail Glen,Child Care Center,1250 Canevari Dr,Roseville,CA,95747,9167727529
3,Adventure Club - Coyote Ridge,Child Care Center,1751 Morningstar Dr,Roseville,CA,95747,9167727271
4,Azusa Discovery Center,Child Care Center,155 W. Arrow Highway,Azusa,CA,91702,6263341806
...,...,...,...,...,...,...,...
1495,KCE Champions LLC @ Mason,Child Care Center,10337 San Ramon Drive,San Diego,CA,92126,5038721464
1496,Amy Lee Ulloa,Family Child Care Home,NaN,Santa Maria,CA,93455,8052648234
1497,Chapman Montessori School,Child Care Center,11832 Euclid Street,Garden Grove,CA,92840,7145915927
1498,Kid Ventures Liberty Station Preschool,Child Care Center,2865 Sims Road,San Diego,CA,92106,6195739625
1499,Ocean View Pre-School,Child Care Center,1900 Western Ave,San Pedro,CA,90732,3105141048

In [10]:
child_care_providers['child_care_provider'].value_counts()

KinderCare Learning Center LLC        43
KinderCare Education LLC              13
Kindercare Learning Center LLC        13
Childtime Children's Center           11
KinderCare Learning Centers LLC        9
                                      ..
Meherbani Khalsa                       1
Kiddie Academy of Huntington Beach     1
Padrick, Dorothea Family Day Care      1
Harlan Family Child Care               1
Scripps Exploring Academy              1
Name: child_care_provider, Length: 1331, dtype: int64

## Connect to local database

In [14]:
rds_connection_string = "postgres:postgres@localhost:5432/child_care_centers_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [15]:
#check for tables
engine.table_names()

['csv_table']

In [16]:
##use pandas to load csv converted DataFrame into database
child_care_providers.to_sql(name='csv_table', con=engine, if_exists='append', index=False)

## Confirm data has been added by querying the `csv_table` table

In [19]:
pd.read_sql_query('select * from csv_table', con=engine)

,id,child_care_provider,type_of_child_care,address,city,state,zip_code,other
0,1,La Rue Park Child Development Center,Child Care Center,50 Atrium Way,Davis,CA,95616,5.307539e+09
1,2,Carousel Preschool,Child Care Center,8328 Airport Blvd.,Los Angeles,CA,90045,3.102167e+09
2,3,Adventure Club - Quail Glen,Child Care Center,1250 Canevari Dr,Roseville,CA,95747,9.167728e+09
3,4,Adventure Club - Coyote Ridge,Child Care Center,1751 Morningstar Dr,Roseville,CA,95747,9.167727e+09
4,5,Azusa Discovery Center,Child Care Center,155 W. Arrow Highway,Azusa,CA,91702,6.263342e+09
...,...,...,...,...,...,...,...,...
1495,1496,KCE Champions LLC @ Mason,Child Care Center,10337 San Ramon Drive,San Diego,CA,92126,5.038721e+09
1496,1497,Amy Lee Ulloa,Family Child Care Home,None,Santa Maria,CA,93455,8.052648e+09
1497,1498,Chapman Montessori School,Child Care Center,11832 Euclid Street,Garden Grove,CA,92840,7.145916e+09
1498,1499,Kid Ventures Liberty Station Preschool,Child Care Center,2865 Sims Road,San Diego,CA,92106,6.195740e+09
1499,1500,Ocean View Pre-School,Child Care Center,1900 Western Ave,San Pedro,CA,90732,3.105141e+09